{% extends 'base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block body %}

<div class="img text-center m-3">

{# <h1>Page not found</h1> #}

<div class="m-5">
<h3></h3>
<img  src="..\assets\img\Hello.jpg" alt="Page not found">
</div>
<h2>We don't find the page you're looking for !</h2>
<p>But see you soon !</p>
</div>

{% endblock %}

 